profiles {
    local {
        process.executor = "local"
        process.container = "$HOME/bin/sketchy.sif"
        singularity.enabled = true
        singularity.autoMounts = true
    }

    cluster {
        process.executor = "pbspro"
        process.container = "$HOME/bin/sketchy.sif"
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

params {


    outdir      = "sketch"
    prefix      = "sketchy"

    fastx       = "metagenome.fq"
    fasta       = "kpneumoniae/*.fasta"

    metagenome  = false
    taxdb       = "$HOME/resources/minikraken2"
    species     = "Klebsiella pneumoniae"

    monitor     = false
    watch_dir   = "$PWD"
    extension   = ".fastq"
    barcodes    = null
    server      = false

    sketchy     = false
    sketch      = "$HOME/kpneumoniae.msh"
    genotypes   = "$HOME/kpneumoniae.tsv"
    stable      = 500
    ranks       = 20
    threads     = 1

    build       = false
    kmer_size   = 15
    sketch_size = 1000
    
    benchmark   = false
    bootstraps  = 100



}

process {

    errorStrategy = "ignore"
    scratch = true

    withLabel: sketchy {
        cpus = 1
        memory = "1G"
        time = "1h"
    }
    withLabel: build {
        cpus = 1
        memory = "1G"
        time = "1h"
    }
    withLabel: kraken2 {
        cpus = 6
        memory = "16G"
        time = "8h"
    }

}
