profiles {
    singularity {
        process.executor = "local"
        process.container = "docker://esteinig/sketchy"
        singularity.enabled = true
        singularity.autoMounts = true
    }

    docker {
        process.executor = "local"
        process.container = "docker://esteinig/sketchy"
        docker.enabled = true
    }

    jcu {
        process.executor = "pbspro"
        process.container = "docker://esteinig/sketchy"
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

params {

    outdir       = "test"
    prefix       = "test"

    fastq        = "*.fq"
    quality      = 7
    length       = 200

    sketchy      =  true
    sketchy_path =  "/sketchy" 

    sketches     =  ["saureus_15_1000", "saureus_15_10000"]
    ranks        =  [10]
    limits       =  [3000]
    time         =  false
    delta        =  null

    build        = false
    fasta        = "*.fasta"
    kmer_size    = 15
    sketch_size  = 1000
    
    bootstrap    = false
    samples      = 100
    seed         = 42

    metagenome   = false
    taxdb        = "$HOME/resources/minikraken2"
    species      = "Staphylococcus aureus"
}

process {

    errorStrategy = "ignore"
    scratch = true

    withLabel: sketchy {
        cpus = 4
        memory = "8G"
        time = "24h"
    }
    withLabel: build {
        cpus = 4
        memory = "8G"
        time = "8h"
    }
    withLabel: kraken2 {
        cpus = 16
        memory = "32G"
        time = "8h"
    }

}
