process {
    executor = "slurm"
    withLabel: trimmomatic {
        cpus = 4
        memory = "4G"
        time = "1h"
        conda = "/home/esteinig/miniconda3/envs/trimmomatic"
    }
    withLabel: pilon {
        cpus = 4
        memory = "8G"
        time = "1h"
        conda = "/home/esteinig/miniconda3/envs/pilon"
    }
    withLabel: bwa {
        cpus = 4
        memory = "8G"
        time = "1h"
        conda = "/home/esteinig/miniconda3/envs/bwa"
    }
    withLabel: coverage {
        cpus = 1
        memory = "8G"
        time = "1h"
        conda = "/home/esteinig/miniconda3/envs/bwa"
    }
    withLabel: gatk {
        cpus = 4
        memory = "8G"
        time = "1h"
        conda = "/home/esteinig/miniconda3/envs/gatk"
    }
    withLabel: snippy {
        cpus = 4
        memory = "8G"
        time = "1h"
        conda = "/home/esteinig/miniconda3/envs/snippy"
    }
    withLabel: alignment {
        cpus = 1
        memory = "2G"
        time = "1h"
        conda = "/home/esteinig/miniconda3/envs/daru"
    }
    withLabel: pysamstats {
        cpus = 2
        memory = "8G"
        time = "1h"
        conda = "/home/esteinig/miniconda3/envs/pysamstats"
    }
}

profiles {
    local {
        process.executor = 'local'
    }
    cluster {
        process.executor = 'slurm'
    }
}