profiles {
    local {
        process.executor = "local"
    }
    cluster {
        process.executor = "pbspro"
        process.clusterOptions = "-S /bin/bash -v PATH=$HOME/snake/bin:$PATH"
    }
}

params {

    fastq                   =           "*.fq"
    sketch                  =           "kleb_k15.msh"
    sketch_data             =           "kleb.tab"
    bootstraps              =           1000
    sample_reads            =           10000
    predict_reads           =           500
    predict_ncpu            =           2
    prefix                  =           "sketchy_test"
    outdir                  =           "sketchy_out"
}

process {

    errorStrategy = "ignore"

    withLabel: bootstrap {
        conda = "$HOME/snake/envs/sketchy"
        cpus = 1
        memory = "4G"
        time = "2h"
    }
    withLabel: predict {
        conda = "$HOME/snake/envs/sketchy"
        cpus = 4
        memory = "8G"
        time = "1h"
    }

}
