profiles {
    local {
        process.executor = "local"
    }
    cluster {
        process.executor = "pbspro"
        process.clusterOptions = "-v PATH=$HOME/conda/bin:$PATH"
    }
}

params {

    fastq                   =           "$PWD/*.fq.gz"
    prefix                  =           "zymo_saureus"
    outdir                  =           "zymo_saureus"

    conda                   =           "$HOME/conda/envs"

    sketchy                 =           false
    mixture                 =           false
    species                 =           "Staphylococcus aureus"

    mode                    =           "single"

    sketch                  =           null
    index                   =           null
    reads                   =           null
    true_lineage            =           "772"

    resources               =           "$HOME/resources"
    minikraken              =           "minikraken2"

}

process {

    errorStrategy = "ignore"

    withLabel: sketchy {
        conda = "$params.conda/sketchy"
        cpus = 4
        memory = "16G"
        time = "24h"
    }

    withLabel: kraken2 {
        conda = "$params.conda/pf-kraken"
        cpus = 8
        memory = "32G"
        time = "24h"
    }

}
