profiles {
    local {
        process.executor = "local"
    }
    cluster {
        process.executor = "pbspro"
        process.clusterOptions = "-v PATH=/home/jc225327/conda/bin"
    }
}

params {

    fastq                   =           "*.fq"
    outdir                  =           "nf-sketchy"

    conda                   =           "/home/jc225327/conda/envs"

    sketch                  =           "mrsa"

    // Glob: *.tsv for sketch_files

    sketch_files            =           false
    uuid                    =           false
    kmers                   =           [15, 16, 17, 18, 19, 20, 21]
    hash_sizes              =           [500, 1000, 2000, 4000]

    bootstrap               =           true
    reads                   =           100
    nboot                   =           10
    boot_plot               =           "-g -r -c 'BuPu_r,Blues_r,Greens_r'"


    mixture                 =           false
    species                 =           "Staphylococcus aureus"
    online                  =           false

    resources               =           "/home/jc225327/resources"
    minikraken              =           "minikraken2"

}

process {

    errorStrategy = "ignore"
    scratch = true

    withLabel: sketchy {
        conda = "$params.conda/sketchy"
        cpus = 16
        memory = "32G"
        time = "24h"
    }

    withLabel: kraken2 {
        conda = "$params.conda/pf-kraken"
        cpus = 8
        memory = "32G"
        time = "24h"
    }

}
